.variant{
	font-size: 25px;
}
.section{
	width: 100%;
	height: 800px;
	background:#F2F2F2;
	margin: auto;
}
.main{
	width: 70%;
	height: 700px;
	display: flex;
}
.basic{
	height: 670px;
	width: 330px;
	background: white;
	margin-left: 100px;
	margin-top: 70px;
}
.header{
	height: 55px;
	width: 330px;
	background: #2261BF;
	position: relative;
	padding-top: 15px;
}
.header:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -20px;
}
strong{
	color: white;
	font-size: 35px;
	margin-left: 100px;
}
.basicPrice{
	color: #404040;
	font-size: 27px;
	margin-left: 105px;

}
.or1{
	margin-left: 6px;
	font-size: 17px;
}
.free1{
	font-size: 	27px;
	color: black;
	margin-left: 55px;
}
.free2{
	color: black;
	margin-left: 45px;
}
.price{
	width: 90%;
	height: 45px;
	margin-top: 50px;
	margin-left: 15px;
	border-bottom:1px solid grey;
	border-top: 1px solid grey;
	position: relative;
	padding-top: 5px;
}
.price:after{
	height: 10px;
	width: 100px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "СТОИМОСТЬ";
	position: absolute;
	left: 0;
	right: -13px;
	margin:auto;
	top: -10px;
	color: grey;
	background: white;
}
.or{
	width: 40px;
	height: 25px;
	background: #2261BF;
	margin-left: 150px;
	margin-top: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	z-index: 2;

}
.or:after{
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	/*top: 25px;*/
	bottom: -20px;
}
.free{
	width: 280px;
	height: 95px;
	background: #E5E5E5;
	margin-left: 25px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: -10px;
	position: relative;
	padding-top: 25px;

}
.free:after{
	height: 0px;
	width: 0px;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-top: 20px solid #E5E5E5;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	top: 120px;
}
.buttBas{
	width: 110px;
	height: 40px;
	background: #66B90A;
	color:white;
	font-size: 20px;
	border:none;
	border-radius: 3px;
	margin-left: 110px;
	margin-top: 50px;
}
.optimal{
	height: 700px;
	width: 360px;
	background: white;
	margin-left: 40px;
	margin-top: 50px;
}
.headerOptimal{
	height: 80px;
	width: 360px;
	background: #F06E05;
	position: relative;
	padding-top: 25px;
}
.headerOptimal:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #F06E05;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -20px;
}
.opt{
	color: white;
	font-size: 35px;
	margin-left: 70px;
}
.optfree1{
	font-size: 	40px;
	color: black;
	margin-left: 65px;
}
.optPrice{
	color: #404040;
	font-size: 27px;
	margin-left: 110px;
}
.optOr{
	width: 40px;
	height: 25px;
	background: #E1433E;
	margin-left: 160px;
	margin-top: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	z-index: 2;

}
.optOr:after{
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #E1433E;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	/*top: 25px;*/
	bottom: -20px;
}
.optFree{
	width: 280px;
	height: 95px;
	background: #E5E5E5;
	margin-left: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: -10px;
	position: relative;
	padding-top: 25px;

}
.optFree:after{
	height: 0px;
	width: 0px;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-top: 20px solid #E5E5E5;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	top: 120px;
}
.buttOpt{
	width: 110px;
	height: 40px;
	background: #66B90A;
	color:white;
	font-size: 20px;
	border:none;
	border-radius: 3px;
	margin-left: 125px;
	margin-top: 50px;
}
.premium{
	height: 670px;
	width: 330px;
	background: white;
	margin-left: 40px;
	margin-top: 70px;
	position: relative;
}
.headerPremium{
	height: 55px;
	width: 330px;
	background: #2261BF;
	position: relative;
	padding-top: 15px;
}
.headerPremium:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -20px;
}
.buttPre{
	width: 110px;
	height: 40px;
	background: #66B90A;
	color:white;
	font-size: 20px;
	border:none;
	border-radius: 3px;
	margin-left: 110px;
	margin-top: 50px;
}
.basicPre{
	color: #404040;
	font-size: 27px;
	margin-left: 100px;

}
.prefree1{
 	font-size: 	35px;
	color: black;
	margin-left: 75px;
}
.textStar{
	color: black;
	font-size: 15px;
	margin: 0px;
}
.star{
	position: absolute;
}
img{
	margin-left: 20px;

}
@media (max-device-width:768px){
	.section{
	width: 100%;
	height: 2200px;
	background:#F2F2F2;
	margin: auto;
	}
	.main{
	width: 70%;
	height: 700px;
	flex-direction: column;
	}
	.basic{
	height: 670px;
	width: 330px;
	background: white;
	margin-left: 320px;
	margin-top: 70px;
	}
	.optimal{
	height: 700px;
	width: 360px;
	background: white;
	margin-left: 305px;
	margin-top: 50px;
	}
	.premium{
	height: 670px;
	width: 330px;
	background: white;
	margin-left: 320px;
	margin-top: 70px;
	position: relative;
	}
	.price:after{
	height: 10px;
	width: 100px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "СТОИМОСТЬ";
	position: absolute;
	left: 0;
	right: -13px;
	margin:auto;
	top: -10px;
	color: grey;
	background: white;
	z-index: 2;
	}
	.buttBas{
	width: 110px;
	height: 40px;
	background: #66B90A;
	color:white;
	font-size: 20px;
	border:none;
	border-radius: 3px;
	margin-left: 110px;
	margin-top: 50px;
	}
	.optFree:after{
	height: 0px;
	width: 0px;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-top: 20px solid #E5E5E5;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	top: 119px;
	}
	.header:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -19px;
	}
	.headerOptimal:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #F06E05;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -19px;
	}
	.headerPremium:after{
	height: 0px;
	width: 0px;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -19px;
	}
	.or:after{
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #2261BF;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	/*top: 25px;*/
	bottom: -19px;
	}
	.optOr:after{
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #E1433E;
	border-bottom: 10px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	margin:auto;
	/*top: 25px;*/
	bottom: -19px;
}
}